<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.kiosk.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:theme="@style/Theme.Kiosk"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <service
            android:name=".core.service.PowerManagementService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".core.service.AppResetService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.launcher.LauncherActivity"
            android:exported="true"
            android:lockTaskMode="if_whitelisted"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
<!--                todo: ENABLE FOR PRODUCTION-->
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.locked.LockedActivity"/>
        <activity android:name=".ui.pin.PinUnlockActivity"/>
        <activity android:name=".ui.admin.AdminActivity"/>

        <receiver
            android:name=".core.admin.MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

        </receiver>

    </application>
<!--    <queries>-->

<!--        &lt;!&ndash; Chrome &ndash;&gt;-->
<!--        <package android:name="com.android.chrome" />-->

<!--        &lt;!&ndash; YouTube &ndash;&gt;-->
<!--        <package android:name="com.google.android.youtube" />-->

<!--        &lt;!&ndash; Allow querying launchable apps &ndash;&gt;-->
<!--        <intent>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent>-->

<!--    </queries>-->
</manifest>